.grid {
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(10, 1fr);
  display: grid;
}

.block {
  height: 100px;
  width: 100px;
  border: solid black 1px;
}

.block-empty {
  height: 100px;
  width: 100px;
  background-color: white;
}

.reactive-nonmetals {
  background-color: blue;
}
.noble-gases {
  background-color: pink;
}
.alkali-metals {
  background-color: teal;
}
.alkaline-earth-metals {
  background-color: red;
}
.metalloids {
  background-color: yellow;
}
.post-transition-metals {
  background-color: green;
}
.transition-metals {
  background-color: purple;
}
.unknown-properties {
  background-color: grey;
}
.lanthanides {
  background-color: skyblue;
}
.actinides {
  background-color: orange;
}